.DS_Store
.idea
.vscode
.venv
.vs
.wechaty/
__pycache__/
venv*
*.pyc
config.json
QR.png
nohup.out
tmp
plugins.json
itchat.pkl
*.log
logs/

# auto coder
.auto-coder
actions
output.txt
reference-context

# test bot
test_dify.py